@charset "UTF-8";
@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Hiragino Mincho Pro',serif;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: rem;
}

p {
  font-size: 1.4rem;
}

@media print, screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    font-size: calc(3.4rem + ((1vw - 0.64rem) * 2.1429));
  }
  h2 {
    font-size: 28px;
    font-size: calc(2.7rem + ((1vw - 0.64rem) * 0.7413));
  }
  h3 {
    font-size: 22px;
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7413));
  }
  p {
    font-size: 18px;
    font-size: calc(1.475rem + ((1vw - 7.68px) * 0.3472));
  }
}

.cmn-section {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

@media print, screen and (min-width: 768px) {
  .cmn-section {
    padding-bottom: 40px;
  }
}

.cmn-section.-black {
  background-color: #000;
}

.cmn-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
  margin-bottom: 30px;
  font-size: 30px;
}

@media print, screen and (min-width: 768px) {
  .cmn-title {
    padding-top: 75px;
  }
}

.cmn-title.-white {
  color: white;
}

.cmn-title i {
  margin-right: 10px;
}

.cmn-link a {
  color: black;
  background-color: #1fd1fd;
  width: 155px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-radius: 8px;
  font-size: 14px;
}

@media print, screen and (min-width: 768px) {
  .cmn-link a {
    font-size: 18px;
  }
}

.header .header-fixed {
  background-color: #e3fdff;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 20;
}

.header .nav-btn {
  width: 52px;
  height: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  outline: none;
  position: relative;
  left: 95%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media print, screen and (min-width: 768px) {
  .header .nav-btn {
    display: none;
  }
}

.header .nav-btn.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .nav-btn.-active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .nav-btn.-active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .nav-btn.-active span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .nav-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  display: block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .nav-btn span:first-child {
  top: 0;
}

.header .nav-btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.header .nav-btn span:last-child {
  bottom: 0;
}

.header .nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(227, 253, 255, 0.7);
  padding-top: 145px;
  z-index: 10;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@media print, screen and (min-width: 768px) {
  .header .nav {
    width: initial;
    background-color: transparent;
    padding-top: 0;
    z-index: 30;
    left: inherit;
    right: 0;
    top: 15px;
    opacity: 1;
    visibility: visible;
  }
}

.header .nav.-active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header .nav-list {
  text-align: center;
  padding-bottom: 45px;
}

.header .nav-list a {
  margin: 0 auto;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 40px;
    padding-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .nav-list .item + .item {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list .item + .item {
    margin-top: 0;
    margin-left: 20px;
  }
}

.header .nav-list a {
  color: #000;
  font-size: 18px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list a {
    font-size: 18px;
  }
}

.footer .inner {
  background-image: url(../image/handshake2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 20px;
  z-index: 1;
  border-top: 1px solid #6E6E6E;
}

@media print, screen and (min-width: 1400px) {
  .footer .inner {
    background-attachment: fixed;
  }
}

.footer .inner .cmn-link {
  margin-bottom: 30px;
}

.footer .inner .cmn-link a {
  width: 70%;
}

@media print, screen and (min-width: 768px) {
  .footer .inner .cmn-link a {
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.footer .inner .contact-text p {
  text-align: center;
  font-size: 12px;
}

@media print, screen and (min-width: 768px) {
  .footer .inner .contact-text p {
    font-size: calc(1.475rem + ((1vw - 7.68px) * 0.3472));
  }
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
}

@media print, screen and (min-width: 768px) {
  .footer .copyright {
    font-size: calc(1.475rem + ((1vw - 7.68px) * 0.3472));
  }
}

.footer .inner::before {
  content: '';
  position: absolute;
  /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: -1;
}

.my_introduction {
  background-image: url(../image/MyPhoto7.jpg);
  background-position: center;
  background-size: cover;
  height: 700px;
  position: relative;
}

@media print, screen and (min-width: 1400px) {
  .my_introduction {
    background-attachment: fixed;
  }
}

.my_introduction .myname {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  text-align: center;
  width: 100%;
}

.my_introduction .worker_type {
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  text-align: center;
  width: 100%;
}

.intro-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
}

@media print, screen and (min-width: 768px) {
  .intro-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: unset;
            flex-flow: unset;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 45px;
  }
}

.intro-cont .description-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intro-cont .description-cont .description-list .description-item {
  margin-top: 10px;
}

@media print, screen and (min-width: 768px) {
  .intro-cont .description-cont .description-list .description-item + .description-item {
    margin-top: 20px;
  }
}

.intro-cont .description-cont .description-list .description-item .sub_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-cont .description-cont .description-list .description-item .introduction-text {
  font-size: calc(1.475rem + ((1vw - 7.68px) * 0.3472));
  background-color: rgba(227, 253, 255, 0.7);
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
}

.intro-cont .description-cont .description-list .description-item .introduction-text .myname {
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .intro-cont .description-cont .description-list .description-item .introduction-text .myname {
    text-align: left;
  }
}

.intro-cont .description-cont .description-list .description-item dl {
  font-size: calc(1.475rem + ((1vw - 7.68px) * 0.3472));
}

.intro-cont .description-cont .description-list .description-item dl .education-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-cont .description-cont .description-list .description-item dl .education-item dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media print, screen and (min-width: 768px) {
  .intro-cont .profile-image {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    margin-left: 50px;
  }
}

.intro-cont .profile-image img {
  border-radius: 50%;
  width: 100%;
}

.skill {
  background-image: url(../image/computer1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

@media print, screen and (min-width: 1400px) {
  .skill {
    background-attachment: fixed;
  }
}

.skill::before {
  content: '';
  position: absolute;
  /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(128, 128, 128, 0.8);
  z-index: -1;
}

.skill-cont {
  color: white;
}

@media print, screen and (min-width: 768px) {
  .skill-cont .skill-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
}

.skill-cont .skill-list .skill-item:nth-child(n+2) {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .skill-cont .skill-list .skill-item {
    height: 300px;
    width: 25%;
  }
  .skill-cont .skill-list .skill-item:nth-child(n+2) {
    margin-left: 30px;
    margin-top: 0px;
  }
}

.skill-cont .skill-list .skill-item img {
  height: 110px;
}

@media print, screen and (min-width: 768px) {
  .skill-cont .skill-list .skill-item img {
    height: 50%;
  }
}

@media print, screen and (min-width: 768px) {
  .skill-cont .skill-list .skill-item p {
    font-size: calc(1.275rem + ((1vw - 7.68px) * 0.3472));
    margin-top: 20px;
  }
}

.service {
  background-image: url(../image/skill1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: black;
}

@media print, screen and (min-width: 1400px) {
  .service {
    background-attachment: fixed;
  }
}

.service::before {
  content: '';
  position: absolute;
  /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: -1;
}

@media print, screen and (min-width: 768px) {
  .service-cont {
    padding-right: calc(2.1875rem + ((1vw - 7.68px) * 5.531));
    padding-left: calc(2.1875rem + ((1vw - 7.68px) * 5.531));
  }
}

.service-cont .service-list .service-item + .service-item {
  margin-top: 35px;
}

@media print, screen and (min-width: 768px) {
  .service-cont .service-list .service-item + .service-item {
    margin-top: 0;
  }
}

@media print, screen and (min-width: 768px) {
  .service-cont .service-list .service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media print, screen and (min-width: 768px) {
  .service-cont .service-list .service-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
  .service-cont .service-list .service-item:nth-child(even) .service-desc {
    margin-right: 30px;
  }
}

@media print, screen and (min-width: 768px) {
  .service-cont .service-list .service-item:nth-child(odd) .service-desc {
    margin-left: 30px;
  }
}

@media print, screen and (min-width: 768px) {
  .service-cont .service-list .service-item .service-image {
    width: 50%;
  }
}

.service-cont .service-list .service-item .service-desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media print, screen and (min-width: 768px) {
  .service-cont .service-list .service-item .service-desc {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.service-cont .service-list .service-item .service-desc .service-title {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #9ca6a0;
}

@media print, screen and (min-width: 768px) {
  .service-cont .service-list .service-item .service-desc .service-title {
    text-align: left;
    margin-top: 0;
  }
}

.service-cont .service-list .service-item .service-desc .service-explain {
  margin-top: 10px;
}

.service-cont .service-list .service-item .service-desc .service-explain .money-estimate {
  margin-top: 10px;
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .service-cont .service-list .service-item .service-desc .service-explain .money-estimate {
    text-align: left;
    margin-top: 20px;
  }
}

.service-cont .detail {
  text-align: left;
  margin-top: 30px;
}

@media print, screen and (min-width: 768px) {
  .service-cont .detail {
    text-align: center;
  }
}

.service-cont .cmn-link {
  margin-top: 25px;
}

.service-cont .cmn-link a {
  width: 70%;
  background-color: #1fd1fd;
}

@media print, screen and (min-width: 768px) {
  .service-cont .cmn-link a {
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.portfolio {
  background-image: url(../image/MyPhoto4.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: black;
}

@media print, screen and (min-width: 1400px) {
  .portfolio {
    background-attachment: fixed;
  }
}

@media print, screen and (min-width: 768px) {
  .portfolio .inner .portfolio-cont .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.portfolio .inner .portfolio-cont .portfolio-list .portfolio-item + .portfolio-item {
  margin-top: 30px;
}

@media print, screen and (min-width: 768px) {
  .portfolio .inner .portfolio-cont .portfolio-list .portfolio-item + .portfolio-item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.portfolio .inner .portfolio-cont .portfolio-list .portfolio-item a .portfolio {
  height: auto;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.portfolio .inner .portfolio-cont .portfolio-list .portfolio-item a .portfolio .mask1 {
  width: 50%;
  /* 幅は半部のサイズ */
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  left: -50%;
  /* 枠の左に置いて表示させない */
}

.portfolio .inner .portfolio-cont .portfolio-list .portfolio-item a .portfolio .mask2 {
  width: 50%;
  /* 幅は半部のサイズ */
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  right: -50%;
  /* 枠の右に置いて表示させない */
}

.portfolio .inner .portfolio-cont .portfolio-list .portfolio-item a .portfolio .caption {
  width: 100%;
  height: 100%;
  visibility: hidden;
  /* 文字を表示しない */
  position: absolute;
  top: 0px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s step-end;
  transition: all 0.4s step-end;
}

.portfolio .inner .portfolio-cont .portfolio-list .portfolio-item a .portfolio .caption p {
  color: #fff;
  opacity: 0;
  /* ホバーが解除された時すぐ消えるように、文字を表示しない */
  margin-bottom: 0;
  font-size: calc(0.55rem + ((1vw - 3px) * 1.3286));
}

@media print, screen and (min-width: 768px) {
  .portfolio .inner .portfolio-cont .portfolio-list .portfolio-item a .portfolio .caption p {
    font-size: calc(1.175rem + ((1vw - 7.68px) * 0.3472));
  }
}

.portfolio .inner .portfolio-cont .portfolio-list .portfolio-item a .portfolio:hover .mask1 {
  left: 0px;
  /* 左にずらして表示する */
}

.portfolio .inner .portfolio-cont .portfolio-list .portfolio-item a .portfolio:hover .mask2 {
  right: 0px;
  /* 右にずらして表示する */
}

.portfolio .inner .portfolio-cont .portfolio-list .portfolio-item a .portfolio:hover .caption {
  visibility: visible;
  /* 文字を表示する */
}

.portfolio .inner .portfolio-cont .portfolio-list .portfolio-item a .portfolio:hover .caption p {
  opacity: 1;
  /* 文字を表示する */
}

.portfolio::before {
  content: '';
  position: absolute;
  /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */