.portfolio{
    background-image: url(../image/MyPhoto4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: black;
    @include overTab-wide{
        background-attachment: fixed;
    }
    .inner{
        .portfolio-cont{
            .portfolio-list{
                @include overTab{
                    display: flex;
                }
                .portfolio-item{
                    + .portfolio-item{
                        margin-top: 30px;
                        @include overTab{
                            margin-left: 30px;
                            margin-top: 0;
                        }
                    }
                    a{
                        .portfolio{
                            height:	auto;
                            overflow: hidden;
                            display: inline-block;
                            position: relative;
                            .mask1{
                                width: 50%;	/* 幅は半部のサイズ */
                                height: 100%;
                                position: absolute;
                                top: 0;
                                background-color: rgba(0,0,0,0.8);
                                -webkit-transition:	all 0.4s ease;
                                transition:	all 0.4s ease;
                                left: -50%;	/* 枠の左に置いて表示させない */
                            }
                            .mask2{
                                width: 50%;	/* 幅は半部のサイズ */
                                height:	100%;
                                position: absolute;
                                top: 0;
                                background-color:rgba(0,0,0,0.8);
                                -webkit-transition:	all 0.4s ease;
                                transition:	all 0.4s ease;
                                right: -50%;	/* 枠の右に置いて表示させない */
                                }
                            .caption{
                                        width: 100%;
                                        height:	100%;
                                        visibility: hidden;	/* 文字を表示しない */
                                        position: absolute;
                                        top: 0px;
                                        left: 0;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        -webkit-transition:	all 0.4s step-end;
                                        transition: all 0.4s step-end;
                                        p{
                                            color:#fff;
	                                        opacity: 0;	/* ホバーが解除された時すぐ消えるように、文字を表示しない */
                                            margin-bottom: 0;
                                            font-size: calc(0.55rem + ((1vw - 3px) * 1.3286));
                                            @include overTab{
                                                font-size: calc(1.175rem + ((1vw - 7.68px) * 0.3472));
                                            }
                                        }
                                    }
                        }
                        .portfolio:hover .mask1 {
                            left: 0px;	/* 左にずらして表示する */
                        }
                        .portfolio:hover .mask2 {
                            right: 0px;	/* 右にずらして表示する */
                        }
                        .portfolio:hover .caption {
                            visibility:	visible;	/* 文字を表示する */
                        }
                        .portfolio:hover .caption p {
                            opacity: 1;	/* 文字を表示する */
                        }
                    }
                }
            }
        }
    }
}
.portfolio::before{
    content: '';
    position: absolute;
  /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba($color: black, $alpha: 0.5);
//   filter: blur(5px);
    z-index: -1;
}