.skill{
    background-image: url(../image/computer1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    @include overTab-wide{
        background-attachment: fixed;
    }
}
.skill::before{
    content: '';
  position: absolute;
  /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba($color:grey, $alpha: 0.8);
  z-index: -1;
}


.skill-cont{
    // padding-right: 30px;
    // padding-left: 30px;
    // padding-bottom: 30px;
    color: white;
    .skill-list{
        @include overTab{
            display: flex;
            margin: 0 auto;
            width: 100%;
        }
        .skill-item{
            &:nth-child(n+2) {
                margin-top: 20px;
            }
            @include overTab{
                height: 300px;
                width: 25%;
                &:nth-child(n+2) {
                    margin-left: 30px;
                    margin-top: 0px;
                }
            }
            img{
                height: 110px;
                // margin: o auto;
                @include overTab{
                    height: 50%;
                    // width: auto;
                }
            }
            p{
                @include overTab {
                    font-size: calc(1.275rem + ((1vw - 7.68px) * 0.3472));
                    margin-top: 20px;
                }
            }
            .skill-title{
            }
        }
    }
}