.cmn-section {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    @include overTab{
        padding-bottom: 40px;
    }
    &.-black {
        background-color: cl(black);
    }
}

.cmn-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    @include overTab{
        padding-top: 75px;
    }
    margin-bottom: 30px;
    font-size: 30px;
    &.-white{
        color: white;
    }
    i{
        margin-right: 10px;
    }

}

.cmn-link {
    a {
        color: black;
        background-color:#1fd1fd;
        width: 155px;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 8px;
        font-size: 14px;
        @include overTab{
            font-size: 18px;
        }
    }
}
